/* bg-color #ffffff
secondary bg-color #F5F4FA
*/
/* footer bg-golor  #2F303A */

/* Main font Roboto, main font-weight 400
medium-500, black-900, bolt-700, regular-400, 
*/

/* Secondary font Raleway, font-weight 700
*/

:root {
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --hero-btn-color: #188ce8;
  --description-color: #757575;
  --primary-white-color: #ffffff;
  --bg-footer-hero-color: #2f303a;
  --header-logo-color: #000000;
  --border-color: #ececec;
  --filtr-button-color: #f5f4fa;
  --bg-advantages-color: #f5f4fa;
  --bg-team-color: #f5f4fa;
  --social-link-color: #ffffff;
  --team-link-color: #afb1b8;
  --clients-color: #afb1b8;
  --card-set-gap: 30px;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  /* others */
  --items: 3;
  --indent: 30px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
address {
  font-style: normal;
}
.img {
  display: block;

  max-width: 100%;
  height: auto;
}

/**
  |============================
  | сітка із застосуванням flex-box
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

/* btn */

.btn {
  padding: 6px 22px;

  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--time) var(--time-function),
    color var(--time) var(--time-function),
    box-shadow var(--time) var(--time-function);
}

/* (header) index.html and portfolio.html */

/* header-logo */

.header-logo {
  margin-right: 93px;

  color: var(--header-logo-color);

  text-decoration: none;
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo .accent-logo {
  color: var(--accent-color);
}

/* (footer) index.html and portfolio.html */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-footer-hero-color);
}
.page-footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-logo {
  display: block;

  margin-bottom: 20px;

  color: var(--primary-white-color);

  text-decoration: none;
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo .accent-logo {
  color: var(--accent-color);
}
.address-footer {
  color: var(--primary-white-color);

  text-decoration: none;
  line-height: 1.71;
  transition: color var(--time) var(--time-function);
}
.address-list-item + .address-list-item {
  margin-top: 9px;
}
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus,
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.footer-email,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;

  transition: color var(--time) var(--time-function);
}
.social-container {
  margin-left: 70px;
}
.social-container .title {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.social-list {
  display: flex;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--time) var(--time-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.footer-icons {
  fill: var(--primary-white-color);
}

/* header-nav */

.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-list-item + .header-list-item {
  margin-left: 50px;
}
.header-list-item {
  position: relative;
}
.header-contact-list {
  display: flex;

  margin-left: auto;
}
.header-contact-item + .header-contact-item {
  margin-left: 50px;
}
.header-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color var(--time) var(--time-function);
}
.header-contact-link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--description-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--time) var(--time-function);
}
.icon-email,
.icon-phone {
  margin-right: 10px;

  fill: currentColor;

  transition: fill var(--time) var(--time-function);
}

.header-contact-link:hover .icon-email,
.header-contact-link:focus .icon-email,
.header-contact-link:hover .icon-phone,
.header-contact-link:focus .icon-phone {
  fill: var(--accent-color);
}

.header-link:hover,
.header-contact-link:hover,
.header-link:focus,
.header-contact-link:focus {
  color: var(--accent-color);
}
.current-link {
  color: var(--accent-color);
}
.current-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* section hero */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;

  text-align: center;
  background-color: var(--bg-footer-hero-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button.btn {
  min-width: 200px;
  min-height: 50px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-button.btn:hover,
.hero-button.btn:focus {
  background-color: var(--hero-btn-color);
}

/* section advantages */

.advantages-list {
  --items: 4;
}
.advantages-thumb {
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--bg-advantages-color);
  border-radius: 4px;
}
.advantages .subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
  font-size: inherit;
}

.advantages .subtitle-descr {
  color: var(--description-color);
  line-height: 1.71;
}

/* section work */

.work.section {
  padding-top: 0;
}
.work .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.work-list {
  --items: 3;
}
.thumb-img {
  position: relative;
}
.thumb {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.thumb .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* section team */

.team {
  background-color: var(--bg-team-color);

  text-align: center;
}
.team-list {
  --items: 4;
}
.team-descr {
  padding: 30px 0px 30px 0px;
}
.team-list-item {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-name {
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-job-descr {
  color: var(--description-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-list-item + .social-list-item {
  margin-left: 10px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--team-link-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;

  transition: color var(--time) var(--time-function),
    background-color var(--time) var(--time-function);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.icons {
  fill: currentColor;
}

/* Clients */

.clients .title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients-list {
  --items: 6;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 170px;

  color: var(--clients-color);
  border: 1px solid var(--clients-color);
  border-radius: 4px;

  transition: border-color var(--time) var(--time-function),
    color var(--time) var(--time-function);
}
.client-icon {
  fill: currentColor;
}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon,
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* portfolio.html */

/* buttons */

.border-header {
  border-bottom: 1px solid var(--border-color);
}
.button-list {
  display: flex;

  margin-bottom: 50px;

  justify-content: center;
}
.button-list-item + .button-list-item {
  margin-left: 8px;
}
.portfolio-btn {
  padding: 6px 22px;

  font-family: var(--main-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--filtr-button-color);
  color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--time) var(--time-function),
    color var(--time) var(--time-function),
    box-shadow var(--time) var(--time-function);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio section */

.portfolio-list-item {
  background-color: var(--primary-white-color);
}
.portfolio-card-link {
  display: block;

  text-decoration: none;
  transition: box-shadow var(--time) var(--time-function);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-link:hover .card-thumb-descr,
.portfolio-card-link:focus .card-thumb-descr {
  transform: translateY(0);
}

.card-thumb {
  position: relative;

  overflow: hidden;
}
.card-thumb-descr {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--time) var(--time-function);
}
.card-descr {
  position: absolute;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: transform var(--time) var(--time-function);
}
.portfolio-item-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.portfolio-list-item .title {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-item .descr {
  color: var(--description-color);

  font-size: 16px;
  line-height: 1.88;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--time) var(--time-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--time) var(--time-function);
}
.modal-btn-close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-btn-close:hover .icon-cross-btn,
.modal-btn-close:focus .icon-cross-btn {
  fill: currentColor;
}
.icon-cross-btn {
  transition: fill var(--time) var(--time-function);
}

/* Footer Form */

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 12px;

  min-width: 200px;
  min-height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.subscribe-btn:hover,
.subscribe-btn:focus,
.call-back-btn:hover,
.call-back-btn:focus {
  background-color: var(--hero-btn-color);
}
.subscribe-container {
  margin-left: 93px;
}
.subscribe-container-title {
  display: block;

  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-input {
  padding-left: 16px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
}
.footer-input::placeholder,
.footer-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.icon-send {
  margin-left: 10px;
}

/* Modal Form */

.modal-container {
  padding: 40px;
}
.modal-container-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.call-back-form > .input-group {
  margin-bottom: 10px;
}
.call-back-label-descr {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--description-color);
}
.call-back-input,
.call-back-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--time) var(--time-function);
}
.call-back-input {
  padding-left: 42px;

  width: 448px;
  height: 40px;
}
.call-back-textarea {
  padding: 12px 16px;

  width: 448px;
  height: 120px;

  resize: none;
}
.textarea-group {
  margin-bottom: 20px;
}
.call-back-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.input-wrapper {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 100%;
  left: 12px;
  transform: translateY(-100%);

  transition: fill var(--time) var(--time-function);
}
.call-back-input:focus-within + .input-icon,
.call-back-input:focus-within,
.call-back-textarea:focus-within {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}
.call-back-btn {
  min-width: 200px;
  min-height: 50px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.terms-descr {
  margin-left: 23px;
  margin-right: 5px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--description-color);
}
.terms-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.checkbox-group {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}
.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
}
.call-back-checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.icon-check {
  position: absolute;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.call-back-checkbox:checked ~ .icon-check {
  border: var(--accent-color);
  fill: currentColor;
  background-color: var(--accent-color);
}
